header{
  padding: 20px 0;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: var(--color-white);
  z-index: 5;
}
.header{
  top: 41px;
  transition: top 0.3s linear;
}
.header-active{
  top:0;
  transition: top 0.3s linear;
}
.header__section >h3{
  font-size: 45px;
  font-weight: 500;
  color: var(--color-of-header);
  padding-bottom: 40px;
}
.top__header{
  background-color: var(--main-color);
}
.top__header .topHeader__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__header .welcome{
  color: var(--color-white);
  font-size: 14px;
  font-weight: normal;
}
.links__header > a{
  color: var(--color-white);
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.logo > img{
  width: 200px;
}
.input__search{
  width: 60%;
}
.icons__crud{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon__crud{
  padding: 0 10px;
  position: relative;
  background-color: var(--Bg);
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor);
  transition: background-color 0.3s linear;
}
.icon__crud:hover{
  background-color: var(--main-color);
  color: var(--color-white);
}
.icon__crud > a{
  color: var(--color-of-text);
  transition: color 0.3s linear;
}
.icon__crud:hover > a{
  color: var(--color-white);
}
.icon__crud > span{
  position: absolute;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  right: 0;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user{
  display: flex;
  align-items: center;
}
.user .img-user > img{
  border-radius: 50%;
  margin-right: 10px;
}
.user .name-user > span{
  font-weight: bold;
}
header{
  padding: 20px 0;
}
.middle__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle__header .total{
  margin-left: 15px;
  cursor: var(--cursor);
}
.middle__header .total > span{
  transition: color 0.3s linear;
}
.middle__header .total > span:first-child{
  color: var(--color-of-text);
  font-size: 17px;
}
.middle__header .total > span:last-child{
  font-weight: bold;
  color: var(--color-of-text);
}
.middle__header .total:hover > span{
  color: var(--main-color);
}
.bottom__header{
  padding: 20px 100px;
  border-top: 1px solid var(--Bg);
}
.contact__header{
  display: flex;
  align-items: center;
}
.contact__header .contact{
  padding: 0 10px;
}
.contact__header .contact > i{
  color: var(--main-color);
  font-size: 30px;
  margin-right: 15px;
}